<h1>Pole vault time. Get the popcorn ready.</h1>

<!-- <video controls autoplay>
  <source src="" type="video/mp4">
  <source src="" type="video/mp4">
  <source src="" type="video/mp4">
</video> -->

<%=  video_tag("FNS_2011.mp4", "Meyo_Invite_Notre_Dame_2011.mp4", "U_of_I.mp4")%>

<%=  @hi %>
